.overview-container .form-group {
    margin-bottom: 0px;
}

.overview-container .react-datepicker__input-container {
    font-size: 12px ;
    /*position: relative ;*/
    /*top: 8px ;*/
    /*right: 0px ;*/
}

.overview-container .box-container {
    margin: 0;
    padding: 10px
}

.overview-container .react-bs-container-body {
    position: relative;
}

